{% if documents %}
    <ul>
    {% for document in documents %}
        <li>
          <a href="{% url 'prismic:document' id=document.id slug=document.slug %}">
            {{ document.slug }}
          </a>
        </li>
	{% endfor %}
    </ul>
{% endif %}